@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #040707;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #dddddd;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #5c5c7b;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7878a3;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .balance {
    @apply flex w-full items-center gap-4 rounded-xl border border-zinc-800 p-4 /*shadow-chart*/ sm:gap-6 sm:p-6;
  }
  .balance-label {
    @apply text-[14px] leading-6 font-medium text-slate-300;
  }
  .balance-amnt {
    @apply text-[24px] leading-6 font-semibold text-gray-200 flex-1;
  }
  .header-2 {
    @apply text-[18px] leading-6 font-semibold text-gray-200;
  }
  .header-box {
    @apply flex flex-col gap-1;
  }
  .header-box-title {
    @apply text-[24px] leading-6 font-semibold text-slate-200;
  }
  .header-box-subtext {
    @apply text-[14px] leading-6 font-normal text-gray-300;
  }
  .home {
    @apply no-scrollbar flex w-full flex-row max-xl:max-h-screen max-xl:overflow-y-scroll;
  }
  .home-content {
    @apply no-scrollbar flex w-full flex-1 flex-col gap-8 px-5 sm:px-8 py-7 lg:py-12 xl:max-h-screen xl:overflow-y-scroll;
  }
  .home-header {
    @apply flex flex-col justify-between gap-6;
  }
  .sidebar {
    @apply sticky left-0 top-0 flex h-screen w-fit flex-col  justify-between border-r border-zinc-800 bg-inherit pt-8 text-white max-md:hidden sm:p-4 xl:p-6 2xl:w-[355px];
  }

  .sidebar-logo {
    @apply 2xl:text-[26px] font-ibm-plex-serif text-[26px] font-bold text-white max-xl:hidden;
  }

  .sidebar-link {
    @apply flex gap-3 items-center py-1 md:p-3 2xl:p-4 rounded-xl justify-center xl:justify-start;
  }

  .sidebar-label {
    @apply text-[16px] leading-5  font-semibold text-white max-xl:hidden;
  }
}
